body{

margin:0;
font-family:Arial;
background:linear-gradient(120deg,#0E1D21,#00002A);
color:white;

}


.navbar{

display:flex;
justify-content:space-between;
padding:20px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);

}


.navbar ul{

display:flex;
list-style:none;

}


.navbar ul li{

margin:15px;

}


.navbar a{

text-decoration:none;
color:white;
transition:0.3s;

}


.navbar a:hover{

color:#44EA4C;

}


.hero{

display:flex;
justify-content:space-around;
align-items:center;
height:90vh;

}


.hero-box{

background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
padding:40px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,255,170,0.3);

}


.hero-box span{

color:#44EA4C;

}


.btn{

background:#1A3F75;
padding:10px 20px;
border-radius:5px;
text-decoration:none;
color:white;

}


.profile{

width:250px;
border-radius:50%;
animation:float 4s infinite ease-in-out;

}


@keyframes float{

0%{transform:translateY(0)}

50%{transform:translateY(-20px)}

100%{transform:translateY(0)}

}


.title{

text-align:center;
margin-top:40px;

}


.glass{

width:70%;
margin:auto;
padding:40px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
border-radius:15px;

}


.skills{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


.skill-card{

background:#122E34;
padding:20px;
border-radius:15px;
text-align:center;
width:200px;
transition:0.4s;
transform-style:preserve-3d;

}


.skill-card img{

width:70px;

}


.skill-card:hover{

box-shadow:0 0 20px #44EA4C;

}


#contact{

text-align:center;

}